nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li {
    display: inline-block;
    margin: .9em;
}
  
nav a {
    font-weight: 900;
    text-decoration: none;
    font-size: 1em;
    padding: .5em;
    color: white;
}
  
nav a:hover {
    color: #2FCE74;
}
  
nav a:focus {
    color: blue;
}