.footer {
    display: block;
    background-color: white;
    max-width: 100%;
    background-image: url("../../../assets/")
}

#footer a:visited {
    color: black;
}
  
#footer a:hover {
    color: #2FCE74;
}
  
.footer-links {
    width: 10em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 2em;
    letter-spacing: .05em;
    list-style: none;
    text-decoration: none;
    margin-top: 2em;
}

.footer-logo {
    margin-top: 2.5em;
    margin-right: 2.5em;
    width: 16em;
    margin-bottom: 2.3em
}
.footer-net {
    width: 27em;

}
.social-icon {
    width: 1.8em;
    margin: 1.5em 1em 0 1em;
}