.home-map {
    font-size: 100%;
    margin: 5em 0;
  }
  
.home-map h2 {
    margin: 0 0 -.5em 0;
}
  
.home-map-image {
    position: relative;
    width: 90%;
    max-width: 50em;
    margin: auto;
}
  
.home-map-image img {
    width: 50em;
    opacity: 0.15;
}
  
.ring-container {
    position: absolute;
    left: 5%;
    top: 24%
}
  
.ring-container2 {
    position: absolute;
    left: 41.5%;
    top: 14%
}
  
.ring-container3 {
    position: absolute;
    left: 77%;
    top: 23.5%
}
  
.circle {
      width: 15px;
      height: 15px;
      background-color: #2FCE74;
      border-radius: 50%;
      position: absolute;
      top: 23px;
      left: 23px;
}
  
.ringring {
      border: 3px solid #2FCE74;
      -webkit-border-radius: 30px;
      height: 25px;
      width: 25px;
      position: absolute;
      left: 15px;
      top: 15px;
      -webkit-animation: pulsate 1s ease-out;
      -webkit-animation-iteration-count: infinite;
      opacity: 0.0
}
@-webkit-keyframes pulsate {
      0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
      50% {opacity: 1.0;}
      100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
  