@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}

/* Typography
=========================== */

h1 {
  font-size: 5em;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.07em;
  color: #2FCE74;
}

h3 {
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: 0em;
}

h4 {
  font-size: 1.4em;
  font-weight: 700;
  color: #B1B1B1;

}

h5 {
  font-size: 1.3em;
  font-weight: 500;
  color: #B1B1B1;
  line-height: 2em;
}

p {
  font-size: 1em;
  color: #B1B1B1;
  line-height: 1.5em;
}

@media (max-width: 43rem) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }
}

/* Buttons */
.button {
  display: inline-block;
  font-size: 1em;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: 3em;
}

.button-accent {
  color: white;
  background-image: linear-gradient(to bottom right, #71F1AD, #3ED279);
}

.button-accent:hover,
.button-accent:focus {
  background: #71F1AD;
}

.button-white {
  color: white;
  border-color: white;
}

/* Cards */
.home-cards {
  background-color: #EFEFEF;
  margin: 0 auto;
  padding: 5em 0;
}

.home-cards > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 62em;
}

.card {
  background-color: white;
  border-radius: 0.5em;
  width: 18em;
  padding: 1.8em 0;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, .03);
}

.card img {
  width: 7em;
  margin: -.2em 0 -.5em 0;
}

.card h4 {
  margin-bottom: -0.2em;
}

.card a {
  size: .1em;
  margin: 0.8em;
  box-shadow: 2px 3px 6px rgba(0, 250, 100, .2);
}

@media (max-width: 65rem) {
  .home-cards {
    font-size: .8em;
  }
}


