@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 95%;
  max-width: 100%;
  margin: 0 auto;

}

/* Typography
=========================== */

h1 {
  font-size: 5em;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.07em;
  color: #2FCE74;
}

h3 {
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: 0em;
}

h4 {
  font-size: 1.4em;
  font-weight: 700;
  color: #B1B1B1;

}

h5 {
  font-size: 1.3em;
  font-weight: 500;
  color: #B1B1B1;
  line-height: 2em;
}

p {
  font-size: 1em;
  color: #B1B1B1;
  line-height: 1.5em;
}

@media (max-width: 43rem) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }
}


